/*     шрифты     */
@font-face {
	font-family: "Calibri";
	font-display: swap;
	src: url("/fonts/Calibri Italic.woff") format(woff);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Calibri";
	font-display: swap;
	src: url("/fonts/Calibri.woff") format(woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("/fonts/Roboto-Bold.woff") format(woff);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("/fonts/Roboto-BoldItalic.woff") format(woff);
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("/fonts/Roboto-Italic.woff") format(woff);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("/fonts/Roboto-Regular.woff") format(woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Tahoma";
	font-display: swap;
	src: url("/fonts/Tahoma Bold.woff") format(woff);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Tahoma";
	font-display: swap;
	src: url("/fonts/Tahoma Regular.woff") format(woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TimesNewRoman";
	font-display: swap;
	src: url("/fonts/TimesNewRoman.woff") format(woff);
	font-weight: 400;
	font-style: normal;
}

/*----------------*/