.container {
    &__card-select {
        * {
            font-family: Roboto;
            transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
            user-select: none;
        }

        display: flex;
        justify-content: flex-start;
        
        margin-bottom: 20px;
        
        .select {
            font-size: 21px;
            position: relative;
            
            .placeholder {
                display: flex;
                gap: 8px;
                padding: 5px 10px;
                border-radius: 8px;
                justify-content: space-between;
                
                &:hover {
                    cursor: pointer;
                }

                &[data-status="default"] {
                    border: #333 solid 2px;
                }
                &[data-status="invalid"] {
                    border: 2px solid rgba(255, 0, 0, 1);
                }
                &[data-seleceted="true"] {
                    color: rgb(0, 0, 0);
                }

            }

            &[data-is-open="true"] .arrow-down{
                transform: rotate(180deg);
                margin-top: -6px;
            }

            &[data-is-open="true"] .placeholder{
                border: 2px solid #0022f5;
            }

            &:not([data-is-open="true"])
            .placeholder:not([data-status="invalid"]):hover {
                border: #555 solid 2px;
            }

            .options {
                position: absolute;
                width: 100%;
            }
            
            .option {
                padding: 5px 10px;
                background-color: #F1F1F1;
                margin: 5px 0 0;
                border: 2px solid #888;
                border-radius: 5px;
                &:hover {
                    background-color: #999;
                    cursor: pointer;
                }
            }

            .arrow-down svg{
                width: 16px;
                height: auto;
            }
        }
    }
}
