.section {
    &__header {
        background-color: #333333;
        .title {
            height: 50px;
            color: #fff;
            font-size: 32px;
            line-height: 38px;
            text-transform: uppercase;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media print {
        * {
            display: none;
        }
    }
}