.card {

    &__name {
        * {font-family: Arial; font-size: 11pt;}
        display: block;
        background-color: #fff;

        width: 8cm;
        max-width: fit-content;
        height: 3cm;

        
        .card-header {
            background-color: rgb(117, 117, 233);
            width: 100%;
            img {
                width: 100%;
            }
        }
        
        .card-body {
            width: 100%;
            height: 2cm;
            border: #003055 solid 2px;
            border-top: none;
            padding: 10px 0;
            div {
                padding: 0 5px 5px;
                white-space: nowrap;
                overflow: hidden;
            }
            // line-height: 10px;
        }
    }
}