.card {

    &__name {
        * {font-family: Arial; font-size: 11pt;}
        display: block;
        background-color: #fff;

        width: 8cm;
        height: 3cm;

        
        .card-header {
            background-color: rgb(117, 117, 233);
        }
        
        .card-body {
            width: 100%;
            height: 2cm;
            border: #003055 solid 2px;
            border-top: none;
            padding: 8px 10px;
            div {
                padding-bottom: 5px;
            }
            // line-height: 10px;
        }
    }
}